In [1]:
import pandas as pd
from utils.calc import area_calc

In [2]:
df_main = pd.read_csv("data/measurements.csv", sep=";", index_col="Temp./Â°C")
df_main

,C1_S1,C1_S3,C1_S5,C2_S1,C2_S3,C2_S5,C3_S1,C3_S3,C3_S5,C4_S1,...,C7_S5,C8_S1,C8_S3,C8_S5,C9_S1,C9_S3,C9_S5,C10_S1,C10_S3,C10_S5
Temp./Â°C,,,,,,,,,,,,,,,,,,,,,
-27.65517,NaN,-0.28629,0.29632,NaN,-0.26812,0.27996,NaN,-0.25642,0.29215,NaN,...,0.28233,NaN,-0.29654,0.30878,NaN,-0.31436,0.31452,NaN,-0.29660,0.30051
-26.65517,NaN,-0.28742,0.29556,NaN,-0.26919,0.27943,NaN,-0.27181,0.29010,NaN,...,0.28116,NaN,-0.30165,0.30859,NaN,-0.31737,0.31461,NaN,-0.29747,0.30048
-25.65517,NaN,-0.28762,0.29407,NaN,-0.26998,0.27876,NaN,-0.28293,0.28855,NaN,...,0.28004,NaN,-0.30235,0.30855,NaN,-0.31748,0.31490,NaN,-0.29811,0.30045
-24.65517,NaN,-0.28922,0.29382,NaN,-0.27078,0.27855,NaN,-0.28939,0.28784,NaN,...,0.27953,NaN,-0.30312,0.30881,NaN,-0.31861,0.31546,NaN,-0.29897,0.30092
-23.65517,NaN,-0.28983,0.29302,NaN,-0.27162,0.27881,NaN,-0.29127,0.28790,NaN,...,0.27936,NaN,-0.30380,0.30936,NaN,-0.31938,0.31627,NaN,-0.29999,0.30178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270.34483,0.48226,-0.42968,0.45576,0.44551,-0.42925,0.41479,0.47739,-0.42917,0.44651,0.43974,...,0.39977,0.49512,-0.48689,0.46568,0.53158,-0.47484,0.50892,0.50868,-0.45957,0.47928
271.34483,0.48173,-0.43157,0.45590,0.44583,-0.43115,0.41533,0.47813,-0.43063,0.44700,0.43981,...,0.40013,0.49566,-0.48951,0.46614,0.53222,-0.47693,0.50965,0.50922,-0.46179,0.47999
272.34483,0.48077,-0.43195,0.45604,0.44602,-0.43184,0.41592,0.47872,-0.43102,0.44750,0.44043,...,0.40046,0.49669,-0.49016,0.46663,0.53283,-0.47751,0.51039,0.50983,-0.46230,0.48067
273.34483,0.48015,-0.43235,0.45656,0.44673,-0.43270,0.41653,0.47945,-0.43079,0.44807,0.44076,...,0.40075,0.49713,-0.49082,0.46706,0.53303,-0.47841,0.51116,0.51023,-0.46283,0.48141
274.34483,0.47997,-0.43365,0.45762,0.44752,-0.43311,0.41717,0.48029,-0.43189,0.44868,0.44111,...,0.40113,0.49725,-0.49233,0.46744,0.53338,-0.47890,0.51190,0.51062,-0.46379,0.48212

In [3]:
df_peak = pd.read_csv("data/peaks.csv", sep=";")
df_peak

  Series  Peak_Temperature  Start_Temperature  End_Temperature      Area
0  C1_S3          29.34483           18.34483         38.34483 -0.466610
1  C1_S3          97.34483           80.34483        106.34483 -0.572195
2  C1_S5          55.34483           45.34483         62.34483  0.403585
3  C1_S5         110.34483           91.34483        120.34483  0.515150
4  C2_S5          55.34483           41.34483         62.34483  0.446510
5  C2_S5         110.34483           87.34483        120.34483  0.630190
6  C2_S5          55.34483           41.34483         62.34483  0.446510
7  C2_S5         110.34483           87.34483        120.34483  0.630190

## FlÃ¤chenkalkulation

In [4]:
df_peak.loc[df_peak.index[6], 'Area'] = 0
df_peak.loc[df_peak.index[7], 'Area'] = 0
df_peak[df_peak["Series"] == "C2_S5"]

  Series  Peak_Temperature  Start_Temperature  End_Temperature     Area
4  C2_S5          55.34483           41.34483         62.34483  0.44651
5  C2_S5         110.34483           87.34483        120.34483  0.63019
6  C2_S5          55.34483           41.34483         62.34483  0.00000
7  C2_S5         110.34483           87.34483        120.34483  0.00000

In [5]:
area_calc(df_peak, df_main, "C2_S5")

True

In [6]:
df_peak[df_peak["Series"] == "C2_S5"]

  Series  Peak_Temperature  Start_Temperature  End_Temperature      Area
4  C2_S5          55.34483           41.34483         62.34483  0.446895
5  C2_S5         110.34483           87.34483        120.34483  0.630345
6  C2_S5          55.34483           41.34483         62.34483  0.446895
7  C2_S5         110.34483           87.34483        120.34483  0.630345

## Peak Dataframe und CSV fÃ¼r alle

In [7]:
import pandas as pd

import numpy as np
from scipy.signal import find_peaks

In [8]:
df_main = pd.read_csv("data/measurements.csv", sep=";", index_col="Temp./Â°C")
df_main

,C1_S1,C1_S3,C1_S5,C2_S1,C2_S3,C2_S5,C3_S1,C3_S3,C3_S5,C4_S1,...,C7_S5,C8_S1,C8_S3,C8_S5,C9_S1,C9_S3,C9_S5,C10_S1,C10_S3,C10_S5
Temp./Â°C,,,,,,,,,,,,,,,,,,,,,
-27.65517,NaN,-0.28629,0.29632,NaN,-0.26812,0.27996,NaN,-0.25642,0.29215,NaN,...,0.28233,NaN,-0.29654,0.30878,NaN,-0.31436,0.31452,NaN,-0.29660,0.30051
-26.65517,NaN,-0.28742,0.29556,NaN,-0.26919,0.27943,NaN,-0.27181,0.29010,NaN,...,0.28116,NaN,-0.30165,0.30859,NaN,-0.31737,0.31461,NaN,-0.29747,0.30048
-25.65517,NaN,-0.28762,0.29407,NaN,-0.26998,0.27876,NaN,-0.28293,0.28855,NaN,...,0.28004,NaN,-0.30235,0.30855,NaN,-0.31748,0.31490,NaN,-0.29811,0.30045
-24.65517,NaN,-0.28922,0.29382,NaN,-0.27078,0.27855,NaN,-0.28939,0.28784,NaN,...,0.27953,NaN,-0.30312,0.30881,NaN,-0.31861,0.31546,NaN,-0.29897,0.30092
-23.65517,NaN,-0.28983,0.29302,NaN,-0.27162,0.27881,NaN,-0.29127,0.28790,NaN,...,0.27936,NaN,-0.30380,0.30936,NaN,-0.31938,0.31627,NaN,-0.29999,0.30178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270.34483,0.48226,-0.42968,0.45576,0.44551,-0.42925,0.41479,0.47739,-0.42917,0.44651,0.43974,...,0.39977,0.49512,-0.48689,0.46568,0.53158,-0.47484,0.50892,0.50868,-0.45957,0.47928
271.34483,0.48173,-0.43157,0.45590,0.44583,-0.43115,0.41533,0.47813,-0.43063,0.44700,0.43981,...,0.40013,0.49566,-0.48951,0.46614,0.53222,-0.47693,0.50965,0.50922,-0.46179,0.47999
272.34483,0.48077,-0.43195,0.45604,0.44602,-0.43184,0.41592,0.47872,-0.43102,0.44750,0.44043,...,0.40046,0.49669,-0.49016,0.46663,0.53283,-0.47751,0.51039,0.50983,-0.46230,0.48067
273.34483,0.48015,-0.43235,0.45656,0.44673,-0.43270,0.41653,0.47945,-0.43079,0.44807,0.44076,...,0.40075,0.49713,-0.49082,0.46706,0.53303,-0.47841,0.51116,0.51023,-0.46283,0.48141
274.34483,0.47997,-0.43365,0.45762,0.44752,-0.43311,0.41717,0.48029,-0.43189,0.44868,0.44111,...,0.40113,0.49725,-0.49233,0.46744,0.53338,-0.47890,0.51190,0.51062,-0.46379,0.48212

In [9]:
for col in df_main.columns:
    if "S3" in col:
        print(col)

C1_S3
C2_S3
C3_S3
C4_S3
C5_S3
C6_S3
C7_S3
C8_S3
C9_S3
C10_S3

In [10]:
df_peak = pd.DataFrame(columns=["Series", "Peak_Temperature", "Start_Temperature", "End_Temperature", "Area"])
df_peak

Empty DataFrame
Columns: [Series, Peak_Temperature, Start_Temperature, End_Temperature, Area]
Index: []

In [11]:
"""
this_height = 0.3  # Grenze auf der y-Achse (0-1) 
this_prominence = 0.01 # [0.001 (mehr peaks) - 0.1 (weniger peaks)]
"""
def get_series_peaks_data(dframe, series_name, this_height=0.3, this_prominence=0.01):
    if "S3" in series_name:
        dframe = -dframe 
    # Finden der Peaks
    peaks, properties = find_peaks(dframe[series_name], height=this_height, prominence = this_prominence, width=1)
    
    # Berechnung der ersten Ableitung der Daten -----------------------------
    first_derivative = np.diff(dframe[series_name])
    
    # Berechnung der zweiten Ableitung
    second_derivative = np.gradient(first_derivative)
    
    # Start- und Endpunkte bestimmen ----------------------------------------------------
    
    # Initialisierung der Listen fÃ¼r die Startpunkte -------------------
    start_points = []
    
    # Iteriere durch jeden Peak, um den Startpunkt zu bestimmen
    for peak_index in range(len(peaks)):
        peak = peaks[peak_index]
        # Suche rÃ¼ckwÃ¤rts nach dem letzten Punkt, bei dem der 1. Ableitung negativ ist
        start = None
        for i in range(peak, 0, -1):  # ab peak zurÃ¼ckwÃ¤rts (theoretisch bis Anfang)
            if first_derivative[i-1] < 0:
                start = i
                break
        if start is not None:
            start_points.append(start)
        else:
            start_points.append(0)
    
    
    # Initialisierung der Listen fÃ¼r die Endpunkte ----------------------
    end_points = []
    
    # Iteriere durch jeden Peak, um den Endpunkt zu bestimmen
    for peak_index in range(len(peaks)):
        peak = peaks[peak_index]
        # Suche vorwÃ¤rts nach dem ersten Punkt, bei dem der 1. Ableitung positiv wird
        end = None
        for i in range(peak, len(first_derivative)): # ab peak vorwÃ¤rts (theoretisch bis Ende)
            if first_derivative[i] > 0:
                end = i + 1  # BerÃ¼cksichtige np.diff Verschiebung
                break
        if end is not None:
            end_points.append(end)
        else:
            end_points.append(len(dframe) - 1)
    
    
    
    # Startpunkte optimieren ----------------------------------------------
    second_derivative_series = pd.Series(second_derivative)
    second_derivative_series
    
    # Initialisierung von improved_start_points 
    improved_start_points = []
    
    for i in range(len(start_points)):
        this_start = start_points[i]
        this_peak = peaks[i]
    
        # Eingrenzung der Series
        second_der_area = second_derivative_series.loc[range(this_start+1, this_peak)]
    
        # Umgekehrte For-Schleife durch die Series UM die negativen Werte "am Peak" zu lÃ¶schen
        for index in reversed(second_der_area.index):
            value = second_der_area[index]
            if value > 0:
                break;
            elif value <= 0:
                second_der_area = second_der_area.drop(index)
    
        new_start = this_start
    
        # Umgekehrte For-Schleife durch die Series, UM den Ãbergangs ins Negative zu finden (mit Toleranz) bzw. erste sehr nach an der 0
        for index in reversed(second_der_area.index):
            value = second_der_area[index]
            new_start = index
            
            if value <= 0.0001:
                if dframe[series_name].iloc[index] <= dframe[series_name].iloc[end_points[i]]:
                    break
                    
        improved_start_points.append(new_start)
    
    # --------------------------------------------------------------------------------------
    if "S3" in series_name:
        dframe = -dframe 
    
    peaks_temperature = dframe.index[peaks]
    init_start_points_temperature = dframe.index[start_points]
    start_points_temperature = dframe.index[improved_start_points]
    end_points_temperature = dframe.index[end_points]

    return {"Series" : series_name,
        'Peak_Temperature': peaks_temperature,
        'Start_Temperature': start_points_temperature,
        'End_Temperature': end_points_temperature,
        'Area': np.NaN}

In [12]:
data = get_series_peaks_data(df_main, "C1_S3")
data

{'Series': 'C1_S3',
 'Peak_Temperature': Index([29.34483, 97.34483], dtype='float64', name='Temp./Â°C'),
 'Start_Temperature': Index([18.34483, 80.34483], dtype='float64', name='Temp./Â°C'),
 'End_Temperature': Index([38.34483, 106.34483], dtype='float64', name='Temp./Â°C'),
 'Area': nan}

In [13]:
if df_peak.empty:
    df_peak = pd.DataFrame(data)
else:
    df_peak = pd.concat([df_peak, pd.DataFrame(data)], ignore_index=True)


df_peak

  Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0  C1_S3          29.34483           18.34483         38.34483   NaN
1  C1_S3          97.34483           80.34483        106.34483   NaN

In [14]:

data = get_series_peaks_data(df_main, "C1_S1")
df_peak = pd.DataFrame(data)
df_peak

  Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0  C1_S1          23.34483          -26.65517         35.34483   NaN
1  C1_S1          57.34483           42.34483         65.34483   NaN
2  C1_S1         110.34483           86.34483        129.34483   NaN

In [15]:
list(df_main.columns)[0]

'C1_S1'

In [16]:
df_main.columns

Index(['C1_S1', 'C1_S3', 'C1_S5', 'C2_S1', 'C2_S3', 'C2_S5', 'C3_S1', 'C3_S3',
       'C3_S5', 'C4_S1', 'C4_S3', 'C4_S5', 'C5_S1', 'C5_S3', 'C5_S5', 'C6_S1',
       'C6_S3', 'C6_S5', 'C7_S1', 'C7_S3', 'C7_S5', 'C8_S1', 'C8_S3', 'C8_S5',
       'C9_S1', 'C9_S3', 'C9_S5', 'C10_S1', 'C10_S3', 'C10_S5'],
      dtype='object')

In [17]:
df_peak = pd.DataFrame(columns=["Series", "Peak_Temperature", "Start_Temperature", "End_Temperature", "Area"])

for col in list(df_main.columns):
    data = get_series_peaks_data(df_main, col)
    if df_peak.empty:
        df_peak = pd.DataFrame(data)
    else:
        df_peak = pd.concat([df_peak, pd.DataFrame(data)], ignore_index=True)

df_peak

    Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0    C1_S1          23.34483          -26.65517         35.34483   NaN
1    C1_S1          57.34483           42.34483         65.34483   NaN
2    C1_S1         110.34483           86.34483        129.34483   NaN
3    C1_S3          29.34483           18.34483         38.34483   NaN
4    C1_S3          97.34483           80.34483        106.34483   NaN
..     ...               ...                ...              ...   ...
81  C10_S3          97.34483           69.34483        106.34483   NaN
82  C10_S3         183.34483          166.34483        199.34483   NaN
83  C10_S5          55.34483           42.34483         65.34483   NaN
84  C10_S5         110.34483           77.34483        124.34483   NaN
85  C10_S5         243.34483          225.34483        253.34483   NaN

[86 rows x 5 columns]

In [18]:
def create_peak_df(dframe, this_height=0.3, this_prominence=0.01):
    df_peak = pd.DataFrame(columns=["Series", "Peak_Temperature", "Start_Temperature", "End_Temperature", "Area"])
    
    for col in list(dframe.columns):
        data = get_series_peaks_data(dframe, col, this_height, this_prominence)
        
        if df_peak.empty:
            df_peak = pd.DataFrame(data)
        else:
            df_peak = pd.concat([df_peak, pd.DataFrame(data)], ignore_index=True)

    return df_peak

In [19]:
new_df = create_peak_df(df_main)
new_df

    Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0    C1_S1          23.34483          -26.65517         35.34483   NaN
1    C1_S1          57.34483           42.34483         65.34483   NaN
2    C1_S1         110.34483           86.34483        129.34483   NaN
3    C1_S3          29.34483           18.34483         38.34483   NaN
4    C1_S3          97.34483           80.34483        106.34483   NaN
..     ...               ...                ...              ...   ...
81  C10_S3          97.34483           69.34483        106.34483   NaN
82  C10_S3         183.34483          166.34483        199.34483   NaN
83  C10_S5          55.34483           42.34483         65.34483   NaN
84  C10_S5         110.34483           77.34483        124.34483   NaN
85  C10_S5         243.34483          225.34483        253.34483   NaN

[86 rows x 5 columns]

In [20]:
pd.set_option('display.max_rows', None)
new_df

    Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0    C1_S1          23.34483          -26.65517         35.34483   NaN
1    C1_S1          57.34483           42.34483         65.34483   NaN
2    C1_S1         110.34483           86.34483        129.34483   NaN
3    C1_S3          29.34483           18.34483         38.34483   NaN
4    C1_S3          97.34483           80.34483        106.34483   NaN
5    C1_S5          55.34483           45.34483         62.34483   NaN
6    C1_S5         110.34483           91.34483        120.34483   NaN
7    C2_S1          25.34483          -26.65517         35.34483   NaN
8    C2_S1          57.34483           43.34483         66.34483   NaN
9    C2_S1         110.34483           86.34483        130.34483   NaN
10   C2_S3          29.34483           18.34483         37.34483   NaN
11   C2_S3          97.34483           80.34483        107.34483   NaN
12   C2_S5          55.34483           41.34483         62.34483   NaN
13   C2_S5         110.34483           87.34483        120.34483   NaN
14   C3_S1          24.34483          -26.65517         35.34483   NaN
15   C3_S1          57.34483           42.34483         65.34483   NaN
16   C3_S1         110.34483           84.34483        122.34483   NaN
17   C3_S3          29.34483           15.34483         37.34483   NaN
18   C3_S3          97.34483           80.34483        107.34483   NaN
19   C3_S5          54.34483           44.34483         65.34483   NaN
20   C3_S5         109.34483           88.34483        122.34483   NaN
21   C4_S1          24.34483          -26.65517         35.34483   NaN
22   C4_S1          57.34483           43.34483         66.34483   NaN
23   C4_S1         110.34483           81.34483        124.34483   NaN
24   C4_S3          29.34483           18.34483         37.34483   NaN
25   C4_S3          97.34483           80.34483        107.34483   NaN
26   C4_S5          55.34483           45.34483         64.34483   NaN
27   C4_S5         110.34483           84.34483        122.34483   NaN
28   C5_S1          24.34483          -26.65517         35.34483   NaN
29   C5_S1          57.34483           42.34483         65.34483   NaN
30   C5_S1         110.34483           73.34483        126.34483   NaN
31   C5_S3          29.34483           16.34483         37.34483   NaN
32   C5_S3          97.34483           81.34483        107.34483   NaN
33   C5_S5          53.34483           39.34483         67.34483   NaN
34   C5_S5         108.34483           87.34483        123.34483   NaN
35   C6_S1          24.34483          -26.65517         34.34483   NaN
36   C6_S1          57.34483           42.34483         67.34483   NaN
37   C6_S1         110.34483           78.34483        125.34483   NaN
38   C6_S1         245.34483          235.34483        256.34483   NaN
39   C6_S3          29.34483           16.34483         38.34483   NaN
40   C6_S3          97.34483           76.34483        106.34483   NaN
41   C6_S3         181.34483          164.34483        196.34483   NaN
42   C6_S5          54.34483           39.34483         65.34483   NaN
43   C6_S5         109.34483           82.34483        122.34483   NaN
44   C6_S5         242.34483          229.34483        253.34483   NaN
45   C7_S1          25.34483          -26.65517         35.34483   NaN
46   C7_S1          58.34483           43.34483         68.34483   NaN
47   C7_S1         111.34483           74.34483        130.34483   NaN
48   C7_S1         245.34483          231.34483        258.34483   NaN
49   C7_S3          29.34483           17.34483         37.34483   NaN
50   C7_S3          97.34483           74.34483        104.34483   NaN
51   C7_S3         178.34483          159.34483        193.34483   NaN
52   C7_S5          55.34483           44.34483         67.34483   NaN
53   C7_S5         110.34483           76.34483        125.34483   NaN
54   C7_S5         242.34483          224.34483        253.34483   NaN
55   C8_S1          24.34483          -26.65517         34.34483   NaN
56   C8_S1          57.34483           42.34483         68.34483   NaN
57   C8_S1         110.34483           74.34483        134.34483   NaN
58   C8_S1         245.34483          234.34483        256.34483   NaN
59   C8_S3          30.34483           18.34483         38.34483   NaN
60   C8_S3          97.34483           75.34483        106.34483   NaN
61   C8_S3         182.34483          162.34483        197.34483   NaN
62   C8_S5          55.34483           42.34483         63.34483   NaN
63   C8_S5         110.34483           78.34483        122.34483   NaN
64   C8_S5         243.34483          223.34483        254.34483   NaN
65   C9_S1          24.34483          -26.65517         34.34483   NaN
66   C9_S1          57.34483           42.34483         67.34483   NaN
67   C9_S1         110.34483           78.34483        130.34483   NaN
68   C9_S1         245.34483          235.34483        257.34483   NaN
69   C9_S3          30.34483           17.34483         38.34483   NaN
70   C9_S3          97.34483           69.34483        106.34483   NaN
71   C9_S3         182.34483          164.34483        198.34483   NaN
72   C9_S5          55.34483           40.34483         62.34483   NaN
73   C9_S5         110.34483           78.34483        122.34483   NaN
74   C9_S5         243.34483          227.34483        253.34483   NaN
75  C10_S1          25.34483          -26.65517         35.34483   NaN
76  C10_S1          58.34483           43.34483         69.34483   NaN
77  C10_S1         111.34483           84.34483        128.34483   NaN
78  C10_S1         147.34483          131.34483        157.34483   NaN
79  C10_S1         245.34483          233.34483        256.34483   NaN
80  C10_S3          30.34483           16.34483         38.34483   NaN
81  C10_S3          97.34483           69.34483        106.34483   NaN
82  C10_S3         183.34483          166.34483        199.34483   NaN
83  C10_S5          55.34483           42.34483         65.34483   NaN
84  C10_S5         110.34483           77.34483        124.34483   NaN
85  C10_S5         243.34483          225.34483        253.34483   NaN

In [21]:
def peak_df_area_calc(peak_dframe, measurement_dframe):
    for col in list(measurement_dframe.columns):
        area_calc(peak_dframe, measurement_dframe, col)

In [22]:
peak_df_area_calc(new_df, df_main)
new_df

    Series  Peak_Temperature  Start_Temperature  End_Temperature      Area
0    C1_S1          23.34483          -26.65517         35.34483       NaN
1    C1_S1          57.34483           42.34483         65.34483  0.542440
2    C1_S1         110.34483           86.34483        129.34483  0.828260
3    C1_S3          29.34483           18.34483         38.34483 -0.466610
4    C1_S3          97.34483           80.34483        106.34483 -0.572195
5    C1_S5          55.34483           45.34483         62.34483  0.403585
6    C1_S5         110.34483           91.34483        120.34483  0.515150
7    C2_S1          25.34483          -26.65517         35.34483       NaN
8    C2_S1          57.34483           43.34483         66.34483  0.542905
9    C2_S1         110.34483           86.34483        130.34483  0.786295
10   C2_S3          29.34483           18.34483         37.34483 -0.494015
11   C2_S3          97.34483           80.34483        107.34483 -0.608365
12   C2_S5          55.34483           41.34483         62.34483  0.446895
13   C2_S5         110.34483           87.34483        120.34483  0.630345
14   C3_S1          24.34483          -26.65517         35.34483       NaN
15   C3_S1          57.34483           42.34483         65.34483  0.545415
16   C3_S1         110.34483           84.34483        122.34483  0.898345
17   C3_S3          29.34483           15.34483         37.34483 -0.489405
18   C3_S3          97.34483           80.34483        107.34483 -0.612720
19   C3_S5          54.34483           44.34483         65.34483  0.403905
20   C3_S5         109.34483           88.34483        122.34483  0.620860
21   C4_S1          24.34483          -26.65517         35.34483       NaN
22   C4_S1          57.34483           43.34483         66.34483  0.542830
23   C4_S1         110.34483           81.34483        124.34483  1.007365
24   C4_S3          29.34483           18.34483         37.34483 -0.461040
25   C4_S3          97.34483           80.34483        107.34483 -0.611210
26   C4_S5          55.34483           45.34483         64.34483  0.385040
27   C4_S5         110.34483           84.34483        122.34483  0.713590
28   C5_S1          24.34483          -26.65517         35.34483       NaN
29   C5_S1          57.34483           42.34483         65.34483  0.587025
30   C5_S1         110.34483           73.34483        126.34483  1.231695
31   C5_S3          29.34483           16.34483         37.34483 -0.509355
32   C5_S3          97.34483           81.34483        107.34483 -0.636695
33   C5_S5          53.34483           39.34483         67.34483  0.444095
34   C5_S5         108.34483           87.34483        123.34483  0.636640
35   C6_S1          24.34483          -26.65517         34.34483       NaN
36   C6_S1          57.34483           42.34483         67.34483  1.015805
37   C6_S1         110.34483           78.34483        125.34483  1.635280
38   C6_S1         245.34483          235.34483        256.34483  0.211645
39   C6_S3          29.34483           16.34483         38.34483 -0.871630
40   C6_S3          97.34483           76.34483        106.34483 -1.113560
41   C6_S3         181.34483          164.34483        196.34483 -0.357360
42   C6_S5          54.34483           39.34483         65.34483  0.797565
43   C6_S5         109.34483           82.34483        122.34483  1.199875
44   C6_S5         242.34483          229.34483        253.34483  0.157730
45   C7_S1          25.34483          -26.65517         35.34483       NaN
46   C7_S1          58.34483           43.34483         68.34483  0.950545
47   C7_S1         111.34483           74.34483        130.34483  2.012455
48   C7_S1         245.34483          231.34483        258.34483  0.381510
49   C7_S3          29.34483           17.34483         37.34483 -0.800450
50   C7_S3          97.34483           74.34483        104.34483 -1.291460
51   C7_S3         178.34483          159.34483        193.34483 -0.447790
52   C7_S5          55.34483           44.34483         67.34483  0.683360
53   C7_S5         110.34483           76.34483        125.34483  1.520290
54   C7_S5         242.34483          224.34483        253.34483  0.306700
55   C8_S1          24.34483          -26.65517         34.34483       NaN
56   C8_S1          57.34483           42.34483         68.34483  1.012595
57   C8_S1         110.34483           74.34483        134.34483  2.000575
58   C8_S1         245.34483          234.34483        256.34483  0.291645
59   C8_S3          30.34483           18.34483         38.34483 -0.853150
60   C8_S3          97.34483           75.34483        106.34483 -1.317635
61   C8_S3         182.34483          162.34483        197.34483 -0.493675
62   C8_S5          55.34483           42.34483         63.34483  0.758080
63   C8_S5         110.34483           78.34483        122.34483  1.494785
64   C8_S5         243.34483          223.34483        254.34483  0.365720
65   C9_S1          24.34483          -26.65517         34.34483       NaN
66   C9_S1          57.34483           42.34483         67.34483  1.076350
67   C9_S1         110.34483           78.34483        130.34483  2.050635
68   C9_S1         245.34483          235.34483        257.34483  0.288340
69   C9_S3          30.34483           17.34483         38.34483 -0.925815
70   C9_S3          97.34483           69.34483        106.34483 -1.599770
71   C9_S3         182.34483          164.34483        198.34483 -0.511330
72   C9_S5          55.34483           40.34483         62.34483  0.825565
73   C9_S5         110.34483           78.34483        122.34483  1.681335
74   C9_S5         243.34483          227.34483        253.34483  0.260025
75  C10_S1          25.34483          -26.65517         35.34483       NaN
76  C10_S1          58.34483           43.34483         69.34483  1.046370
77  C10_S1         111.34483           84.34483        128.34483  1.781110
78  C10_S1         147.34483          131.34483        157.34483  0.214435
79  C10_S1         245.34483          233.34483        256.34483  0.364820
80  C10_S3          30.34483           16.34483         38.34483 -0.899400
81  C10_S3          97.34483           69.34483        106.34483 -1.623680
82  C10_S3         183.34483          166.34483        199.34483 -0.552520
83  C10_S5          55.34483           42.34483         65.34483  0.790550
84  C10_S5         110.34483           77.34483        124.34483  1.753450
85  C10_S5         243.34483          225.34483        253.34483  0.360875

In [23]:
new_df.loc[0, "Series"]

'C1_S1'

In [24]:
test = new_df.loc[0, "Series"]
sample, segment = test.split("_")

In [25]:
segment

'S1'

## Excel

In [26]:
import xlsxwriter
import xlsx_function as func

In [27]:
new_file_path = "test2.xlsx"

In [28]:
writer = pd.ExcelWriter(new_file_path, engine='xlsxwriter')

In [29]:
workbook = writer.book

In [30]:
func.add_to_excel(new_df, writer, "Sheet 1", with_index = False)

In [31]:
func.add_to_excel(df_main, writer, "Sheet 2", with_index = True)

In [32]:
writer.close()

In [33]:
df_main.index.name

'Temp./Â°C'

In [34]:
print(new_df.index.name)

None

In [35]:
len(df_main.index.name)

8

In [36]:
(new_df["Area"].astype(str).str.len())

0      3
1     18
2     18
3     19
4     19
5     19
6     18
7      3
8     18
9     18
10    18
11    19
12    18
13    18
14     3
15    17
16    18
17    20
18    19
19    19
20    18
21     3
22    18
23    18
24    19
25    19
26    19
27    18
28     3
29    18
30    18
31    19
32    19
33    18
34    18
35     3
36    18
37    18
38    19
39    19
40    19
41    20
42    18
43    18
44    18
45     3
46    18
47    17
48    19
49    19
50    18
51    20
52    18
53    18
54    18
55     3
56    17
57    17
58    18
59    19
60    19
61    20
62    18
63    18
64    18
65     3
66    18
67    18
68    18
69    19
70    18
71    19
72    18
73    18
74    19
75     3
76    18
77    18
78    18
79    19
80    19
81    19
82    19
83    18
84    18
85    19
Name: Area, dtype: int64

In [37]:
len("Area")

4

In [38]:
len("End_Temperature")

15